/* .text-vertical is from stack overflow */

.text-vertical {
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 1.25rem;
  color: #555;
}

body {
  font-size: 100%;
  padding-bottom: 150px;
}

h1,
h2 {
  color: #444;
}

h3,
h4 {
  color: #555;
}

.header-image {
  background: url("../images/main-header.png") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.main-section {
  padding-top: 100px;
  text-align: left;
}

.section-content {
  padding-top: 40px;
}

.glow-shadow {
  border-radius: 12px;
  box-shadow: 0 0 20px 0 lightblue;
}

/* Site Navigation */

.site-nav {
  background-color: #333;
  border-color: #141414;
  box-shadow: 0 0.25rem 0.2rem 0.1rem lightblue;
  font-size: 1.5rem;
  /* z-index: 1000; */
}

.site-nav .navbar-collapse .navbar-nav li {
  margin: 0 3rem;
}

.site-nav .navbar-collapse .navbar-nav li a {
  color: #999;
  letter-spacing: 8px;
}

.site-nav .navbar-collapse .navbar-nav li a:hover {
  color: lightblue;
}

/* Bio Section */

.bio-description {
  /* border: thin solid #999; */
  /* box-shadow: 0 0 20px 0 #999; */
  /* background-color: rgba(200, 200, 200, 0.3); */
  /* width: 90%; */
  /* padding: 2%; */
}

.bio-description header {
  width: 60%;
}

.bio-description h3 {
  letter-spacing: 0.75rem;
  /* width: 75%; */
  /* margin: 15px auto 0 auto; */
}

.bio-description .bio-text,
.bio-description .bio-text-more {
  width: 61%;
}

.bio-description .bio-text-most {
  width: 70%;
}

.bio-pic {
  position: absolute;
  top: -15%;
  left: 59%;
  max-height: 350px;
  max-width: 350px;
  box-shadow: -5px 5px 20px 3px #555;
  transition: all 0.5s ease-in-out;
}

.bio-pic-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.bio-pic ul {
  position: absolute;
  top: 50%;
  left: 0;
  list-style: none;
  width: 90%;
  margin: auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.bio-pic ul li {
  display: inline-block;
  margin: 0 40px;
}

.bio-pic ul li a {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}

.bio-pic ul li a:hover {
  color: lightblue;
}

.bio-pic:hover img {
  box-shadow: 0 0 30px 10px lightblue;
  transition: all 0.5s ease-in-out;
}

.bio-pic:hover {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.bio-pic:hover .bio-pic-shadow {
  box-shadow: inset 0 0 150px 150px rgba(17, 17, 17, 0.80);
}

.bio-pic:hover ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

/* Project Section */

.project-items .card {
  box-shadow: 5px 5px 10px #888;
  text-align: center;
}

.project-items .card,
.project-items .card img,
.project-items .card .card-img-overlay {
  border-radius: 15%;
}

.project-items .card:nth-last-child(-n+3) {
  margin-bottom: 3em;
}

.project-items .card .card-img-overlay ul li,
.project-items .card .card-img-overlay .card-text {
  visibility: hidden;
  display: inline;
  margin: auto 10px;
}

.project-items .card:hover .card-img-overlay {
  box-shadow: inset 0px 0px 0px 200px rgba(17, 17, 17, 0.6);
  transition: all 0.75s ease-in-out;
}

.project-items .card:hover .card-img-overlay ul li,
.project-items .card:hover .card-img-overlay .card-text {
  visibility: visible;
  /* transition: all 0.75s ease-in-out; */
  transition: all 0.75s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 3px 3px lightblue;
  transition: all 0.5s ease-in-out;
}

/* Contact Section */

.contact-container {
  margin-top: 50px;
}

.address-info>p {
  letter-spacing: 1rem;
  line-height: 1.5rem;
  font-size: 2.5rem;
}

.phone-info>p {
  letter-spacing: 1rem;
  line-height: 1rem;
  font-size: 2rem;
}

.email-info>p {
  text-decoration: none;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}

.icon-at {
  position: absolute;
  left: 30%;
  color: lightblue;
  z-index: -10000000;
  opacity: 0.6;
}

.social-links a {
  display: inline-block;
  /* width: 150px;
  height: 150px; */
  font-size: 5rem;
  color: lightblue;
  /* line-height: 100px; */
}

.social-links .fa-github-alt:hover {
  color: #4078c0;
}

.social-links .fa-linkedin:hover {
  color: #0077B5;
}

form .form-group {
  position: relative;
}

form .form-group textarea {
  resize: none;
}

form .form-group input,
form .form-group textarea,
form .form-row button {
  box-shadow: 3px 3px 5px #888;
}

form .form-group input:focus,
form .form-group textarea:focus {
  box-shadow: 7px 7px 13px #888;
}

@media screen and (max-width: 992px) {
  .skill-container {
    margin-top: -75px;
  }
  .contact-container {
    margin-top: -75px;
  }
  .bio-description .bio-text {
    width: 63%;
  }
  .bio-description .bio-text-more {
    width: 70%;
  }
  .bio-description .bio-text-most {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .site-nav {
    font-size: 1rem;
    /* z-index: 1000; */
  }
  .site-nav .navbar-collapse .navbar-nav li {
    margin: 0 2rem;
  }
  .site-nav .navbar-collapse .navbar-nav li a {
    letter-spacing: 8px;
  }
  .bio-description {
    width: 95%;
  }
  .bio-description .bio-text-most {
    width: 75%;
  }
  .contact-info {
    margin: auto 25%;
  }
}

@media screen and (max-width: 576px) {
  .main-section {
    padding-top: 20px
  }
  .main-section header {
    margin-bottom: 20px;
  }
  .section-content {
    padding-top: 10px;
  }
  .bio-description {
    text-align: left;
  }
  .bio-description .bio-text,
  .bio-description .bio-text-more,
  .bio-description .bio-text-most {
    margin-left: ;
  }
  .bio-description .bio-text {
    /* width: 65%; */
  }
  .bio-description .bio-text-more {
    /* width: 100%; */
  }
  .bio-pic {
    top: 30px;
    /* max-height: 150px;
    max-width: 150px; */
  }
}
