body {
  font-size: 100%;
  letter-spacing: 0.1rem;
  /* padding-bottom: 150px; */
  background-color: #252323;
  color: #B0B3B2;
}

main {
  padding: 0 !important;
}

h1,
h3,
h4,
.address-info p,
.email-info p,
.phone-info p {
  color: lightblue;
}

.header-image {
  background: url("../images/main-header.png") no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.main-section {
  /* margin-top: 100px; */
  background-image: url("../images/pexels-photo-235985.jpg");
  background-size: cover;
  padding: 100px 25px 50px 25px;
  text-align: left;
  min-height: 100vh;
}

.section-content {
  padding-top: 20px;
}

.glow-shadow {
  box-shadow: 10px 10px 50px 2px rgb(0, 0, 0), inset -1px -1px 250px 1px rgba(173, 216, 230, 0.2), inset 0 0 10px 0px rgb(173, 216, 230);
  /* background-color: rgba(255, 255, 255, 0.03); */
}

.section-divider {
  width: 100%;
  height: 150px;
  /* background-color: rgba(232, 232 232, 0.1); */
  background-image: url('../images/pattern-3160023_1280.jpg');
}

/* Site Navigation */

.site-nav {
  background-color: rgba(37, 35, 35, 0.8);
  border-color: #141414;
  box-shadow: 0 5px 10px 0 rgba(173, 216, 230, 0.25);
  font-size: 1.5rem;
  z-index: 100000000;
}

.site-nav .navbar-collapse .navbar-nav li {
  margin: 0 3rem;
}

.site-nav .navbar-collapse .navbar-nav li a {
  color: #999;
  letter-spacing: 8px;
}

.site-nav .navbar-collapse .navbar-nav li a:hover {
  color: lightblue;
}

.site-nav .navbar-collapse .navbar-nav li.active a {
  color: lightblue;
}

/* Bio Section */

.skill-container {
  position: relative;
  top: -10px;
  border-radius: 12px;
  /* margin-top: -100px; */
  /* -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  */
}

.skill-header {
  border-bottom: thin solid rgb(173, 216, 230);
  margin-bottom: 15px;
}

.skill-container ul li {
  width: 100%;
  transition: all .2s ease-in-out;
}

.skill-container ul li small {
  display: inline-block;
  border-radius: 8px;
  padding: 0 5px;
}

.skill-container ul li small:hover {
  transform: scale(1.5);
  color: rgb(173, 216, 230);
  cursor: pointer;
}

.bio-section {
  border-radius: 12px;
  /* width: 75%; */
  margin-left: 1.5rem;
  letter-spacing: 0.3rem;
}

.bio-description header {
  /* width: 60%; */
}

.bio-description header h3 {
  letter-spacing: 0.75rem;
  /* width: 75%; */
  /* margin: 15px auto 0 auto; */
}

.bio-description header p {
  /* color: #B0B3B2; */
  font-weight: bolder;
}

.bio-description p {
  line-height: 2;
}

.bio-pic {
  position: absolute;
  top: -40%;
  left: 59%;
  max-height: 350px;
  max-width: 350px;
  transition: all 0.5s ease-in-out;
  /* background-color: #000; */
  /* opacity: 0.75; */
  z-index: 100000;
}

.bio-pic-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.bio-pic img {
  opacity: 0.75;
}

.bio-pic ul {
  position: absolute;
  top: 50%;
  left: 0;
  list-style: none;
  width: 90%;
  margin: auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.bio-pic ul li {
  display: inline-block;
  margin: 0 40px;
}

.bio-pic ul li a {
  color: #858A88;
  font-size: 4rem;
  text-decoration: none;
}

.bio-pic ul li a:hover {
  color: rgba(173, 216, 230, 1);
}

.bio-pic:hover img {
  /* box-shadow: inset 0 0 20px 0px rgba(173, 216, 230, 1); */
  /* transition: all 0.5s ease-in-out; */
}

.bio-pic:hover {
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.bio-pic:hover .bio-pic-shadow {
  box-shadow: inset 0 0 150px 150px rgba(17, 17, 17, 0.5), inset 0 0 30px 0px rgb(173, 216, 230);
}

.bio-pic:hover ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

/* Project Section */

.project-items .card {
  /* box-shadow: 5px 5px 10px #888; */
  background-color: transparent;
  text-align: center;
  transition: all 1s ease-in-out;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.project-items .card,
.project-items .card img,
.project-items .card .card-img-overlay {
  border-radius: 5%;
}

.project-items .card img {
  opacity: 0.65;
  /* background-color: transparent; */
}

.project-items .card .card-img-overlay .card-text {
  position: relative;
  top: -45px;
}

.project-items .card .card-img-overlay ul li,
.project-items .card .card-img-overlay .card-title,
.project-items .card .card-img-overlay .card-text {
  visibility: hidden;
  display: inline;
  /* margin: auto 10px; */
  color: lightblue;
  transition: all 1s ease-in-out;
}

.project-items .card:hover .card-img-overlay {
  box-shadow: inset 0px 0px 0px 200px rgba(5, 5, 5, 0.8);
  transition: all 1s ease-in-out;
}

.project-items .card:hover .card-img-overlay ul li,
.project-items .card:hover .card-img-overlay .card-title,
.project-items .card:hover .card-img-overlay .card-text {
  visibility: visible;
  /* transition: all 0.75s ease-in-out; */
  transition: all 1s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 3px 3px lightblue;
  transition: all 1s ease-in-out;
}

/* Contact Section */

.contact-container {
  position: relative;
  top: -65px;
  border-radius: 12px
}

.address-info>p {
  letter-spacing: 1rem;
  line-height: 1.5rem;
  font-size: 3.5rem;
}

.phone-info>p {
  letter-spacing: 1rem;
  line-height: 1rem;
  font-size: 2rem;
}

.email-info>p {
  text-decoration: none;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}

.icon-at {
  position: absolute;
  left: 30%;
  color: lightblue;
  z-index: -10000000;
  opacity: 0.05;
}

.social-links a {
  display: inline-block;
  /* width: 150px;
  height: 150px; */
  font-size: 5rem;
  color: lightblue;
  /* line-height: 100px; */
}

.social-links .fa-github-alt:hover {
  color: #4078c0;
}

.social-links .fa-linkedin:hover {
  color: #0077B5;
}

form .form-group {
  border-radius: 10px;
}

form .form-group input,
form .form-group textarea,
form .form-group input:focus,
form .form-group textarea:focus {
  background-color: transparent;
  border: none !important;
  caret-color: #ADD8E6;
  color: #B0B3B2;
  resize: none;
  border-radius: 12px;
  box-shadow: 10px 10px 50px 2px rgb(0, 0, 0), inset 0 0 10px 0px rgb(173, 216, 230);
}

form .form-group input:focus,
form .form-group textarea:focus {
  box-shadow: 15px 15px 50px 5px rgb(0, 0, 0), inset 0 0 50px 1px rgba(173, 216, 230, 0.2), inset 0 0 10px 0px rgb(173, 216, 230);
  transform: scale(1.05, 1.2);
  z-index: 100000000;
}

form .form-row button,
form .form-row button:focus {
  background-color: transparent;
  color: #ADD8E6;
  border-radius: 12px;
  box-shadow: 10px 10px 50px 2px rgb(0, 0, 0), inset -1px -1px 250px 1px rgba(173, 216, 230, 0.2), inset 0 0 10px 0px rgb(173, 216, 230);
}

form .form-row button:visited,
form .form-row button:active {
  box-shadow: 5px 5px 25px 1px rgb(0, 0, 0), inset -1px -1px 250px 1px rgba(173, 216, 230, 0.2), inset 0 0 10px 0px rgb(173, 216, 230);
}

@media screen and (max-width: 992px) {
  .contact-panel {
    /* width: 75% !important; */
  }
  /* .phone-info,
  .email-info,
  .address-info {
    font-size: 1.5rem;
  } */
  .phone-info p,
  .email-info p,
  .address-info p {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-panel {
    width: 100% !important;
  }

  .site-nav {
    font-size: 1.75rem;
    /* z-index: 1000; */
  }
  .site-nav .navbar-collapse .navbar-nav li {
    margin: 0 2rem;
  }
  .site-nav .navbar-collapse .navbar-nav li a {
    letter-spacing: 8px;
  }
  .bio-description {
    width: 95%;
  }

  .phone-info p,
  .email-info p,
  .address-info p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .main-section {
    padding-top: 20px
  }
  .main-section header {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .section-content {
    padding-top: 10px;
  }
  .bio-description {
    text-align: left;
  }
  .bio-pic {
    top: 30px;
    /* max-height: 150px;
    max-width: 150px; */
  }
  .phone-info,
  .email-info,
  .address-info {
    margin: auto 50px;
  }
  .phone-info p,
  .email-info p,
  .address-info p {
    font-size: 1.25rem;
  }
  .bio-description header h3 {
    font-size: 1.25rem;
  }
  .bio-description header p {
    font-size: 1rem;
  }
  .bio-description p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .phone-info,
  .email-info,
  .address-info {
    margin: auto;
  }
  .phone-info p,
  .email-info p,
  .address-info p {
    font-size: 1rem;
  }
  .bio-description header h3 {
    font-size: 1rem;
  }
  .bio-description header p {
    font-size: 0.75rem;
  }
  .bio-description p {
    font-size: 0.6rem;
  }
}
